<style>
.Page404{padding: 120px 0;}
@media screen and (min-width: 768px){.PFPage{padding: 180px 0 120px;}}
</style>

<div class="PFPage">
  <div class="wrapper">
    <h1 class="mb4">
      {{- __('Page not found', 'pavelcorp') -}}
    </h1>
    <p>
      <a href="/">{{- __('Return home?', 'pavelcorp') -}}</a>
    </p>
  </div>
</div>