<style>
.Page{padding: 120px 0;}.Page p,.Page ul {margin: 0 0 24px; }.Page h2,.Page h3,.Page h4{ margin: 32px 0 16px; } .Page ul {padding-left: 16px; }.Page ul li::before{content: "• "} .Page a {color: #CD9B5A;}
@media screen and (min-width: 768px){.Page{padding: 180px 0 120px;}}
</style>

<div class="Page">
  <div class="wrapper">
    <h1 class="t1 SemiBold mb4">
      {{- page.title -}}
    </h1>

    <div>
      {{- page.content -}}
    </div>    
  </div>
</div>