.custom-select {
	position: relative;
}

.custom-select__input {
	height: 100%;
	width: 100%;

	position: absolute;
	left: 0;
	top: 0;
}

.custom-select__options {
	max-height: 0;
	transition: max-height .3s;

	overflow: hidden;

	> span {
		display: block;
	}
}