$loaderColor: #000;

/**
 * Loader animation
 */
@keyframes lds-dual-ring {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
 }

/**
 * Suspense loader
 */
.SuspenseLoader {

	display: block;

	width: 30px;
	height: 30px;

	margin: auto;

	border-radius: 50%;
	border: 3px solid #fff;
	border-color: $loaderColor transparent $loaderColor transparent;
	animation: lds-dual-ring 1.2s linear infinite;

}