$class-type: unquote(".");
@mixin device-type($namespace:"") {

  #{$class-type}#{$namespace}1	  { width: 8.333%; }
  #{$class-type}#{$namespace}2   { width: 16.666%; }
  #{$class-type}#{$namespace}3   { width: 25%; }
  #{$class-type}#{$namespace}4   { width: 33.333%; }
  #{$class-type}#{$namespace}5   { width: 41.666% }
  #{$class-type}#{$namespace}6   { width: 50%; }
  #{$class-type}#{$namespace}7   { width: 58.333%; }
  #{$class-type}#{$namespace}8   { width: 66.666%; }
  #{$class-type}#{$namespace}9   { width: 75%; }
  #{$class-type}#{$namespace}10   { width: 83.333%; }
  #{$class-type}#{$namespace}11   { width: 91.666%; }
  #{$class-type}#{$namespace}12   { width: 100%; }

}