$class-type: unquote(".");
@mixin device-type($namespace:"") {

  #{$class-type}col#{$namespace}-1	  { width: 8.333%; }
  #{$class-type}col#{$namespace}-2   { width: 16.666%; }
  #{$class-type}col#{$namespace}-3   { width: 25%; }
  #{$class-type}col#{$namespace}-fifth { width: 20%; }
  #{$class-type}col#{$namespace}-4   { width: 33.333%; }
  #{$class-type}col#{$namespace}-5   { width: 41.666% }
  #{$class-type}col#{$namespace}-6   { width: 50%; }
  #{$class-type}col#{$namespace}-7   { width: 58.333%; }
  #{$class-type}col#{$namespace}-8   { width: 66.666%; }
  #{$class-type}col#{$namespace}-9   { width: 75%; }
  #{$class-type}col#{$namespace}-10   { width: 83.333%; }
  #{$class-type}col#{$namespace}-11   { width: 91.666%; }
  #{$class-type}col#{$namespace}-12   { width: 100%; }

}