$class-type: unquote(".");
/*============================================================================
  PULL
    - Pull classes, to move grid items back to the left by certain amounts
==============================================================================*/
@mixin pull-setup($namespace: "") {

  #{$class-type}pull#{$namespace}-1     { right: 8.333%; position: relative; }
  #{$class-type}pull#{$namespace}-2    { right: 16.666%; position: relative; }
  #{$class-type}pull#{$namespace}-3  { right: 25%; position: relative; }
  #{$class-type}pull#{$namespace}-4   { right: 33.333%; position: relative; }
  #{$class-type}pull#{$namespace}-5   { right: 41.666%; position: relative; }
  #{$class-type}pull#{$namespace}-6    { right: 50%; position: relative; }
  #{$class-type}pull#{$namespace}-7  { right: 58.333%; position: relative; }
  #{$class-type}pull#{$namespace}-8  { right: 66.666%; position: relative; }
  #{$class-type}pull#{$namespace}-9   { right: 75%; position: relative; }
  #{$class-type}pull#{$namespace}-10    { right: 83.333%; position: relative; }
  #{$class-type}pull#{$namespace}-11 { right: 91.666%; position: relative; }
  #{$class-type}pull#{$namespace}-12 { right: 100%; position: relative; }
  
}