/**
 * Gallery / Image
 */
.single-preview,
.gallery-preview {
		display: flex;
		flex-flow: row wrap;
		width: calc(100% + 16px);
		margin-left: -16px;
	}

.single-preview  > div,
.gallery-preview > div {
	width: 120px;
	flex: 0 1 auto;

	margin-bottom: 16px;
	margin-top: 16px;
	/* padding-left: 16px; */
	margin-left: 16px;

	display: flex;
	align-items: center;

}

.single-preview  > div {
	width: 240px;
}
.gallery-preview > div {
	width: 120px;
}

.gallery-preview > div::after {
	content:"";
	display: block;
	padding-bottom: 100%;
}

.gallery-preview > div video,
.gallery-preview > div img {
	position: absolute;
	left: 0;
	top: 0;

	width: 100%;
	height: 100%;

	object-fit: cover;
	object-position: 50% 50%;
	-o-object-fit: cover;
	-o-object-position: 50% 50%;
	
}

.single-preview  > div,
.gallery-preview > div {
	position: relative;
	z-index: 1;
}

.single-preview  > div > .remove,
.gallery-preview > div > .remove {
	cursor: pointer;

	position: absolute;
	z-index: 1;

	top: -4px;
	right: -6px;

	color: #fff;
	background: #000;
	border-radius: 50%;

	padding: 4px 6px;
	font-size: 12px;
	line-height: 12px;
}

.single-preview video,
.gallery-preview video, 
.single-preview img,
.gallery-preview img {
	max-width: 100%;
}

/**
 * SQLOrderedMeta
 */
.SQLOrderedMeta select {
	margin-bottom: 8px;
}

input[type="text"] {
	margin-bottom: 8px
}

select + input.SelectRole,
select + button[data-options] {
	vertical-align: middle;
	margin-bottom: 0;
	margin-left: 8px;
}

.SelectWith {
	margin: 0 0 16px;
}

/**
 * Table
 */
.TableBody > div,
.TableHead > div {
	position: relative;
	padding: 24px 8px;
	background-color: #eee;

	border-bottom: 2px solid #fff;
}

.TableBody .RemoveRow,
.TableHead .RemoveRow {
	position: absolute;
	top: 4px;
	right: 4px;
}

.TableBody input[type="text"],
.TableHead input[type="text"] {
	display: block;
	width: 100%;
	max-width: 250px;;
}

.AddRow {
	display: block;
	width: 100%;

	height: 48px;
	line-height: 48px;
	font-size: 16px;

	margin: 16px 0 8px;

	text-align: center;
	color: var(--wp-admin-theme-color);
	text-decoration: none;
	
	border: 1px dashed var(--wp-admin-theme-color);
	will-change: background-color;
	transition: .3s background-color;
}

.AddRow:hover {
	color: #fff;
	background-color: var(--wp-admin-theme-color);
}

.TableCheckbox {
	display: block;
	position: relative;
}

.TableCheckbox input{
	appearance: none;
	-webkit-appearance: none;

	width: 0;
	height: 0;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: none;
	visibility: hidden;
}

.TableCheckbox input + span{
	display: inline-block;
	width: 32px;
	height: 32px;

	border-radius: 100%;

	background-color: #ddd;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgc3Ryb2tlPSIjRkZGIiBzdHJva2Utd2lkdGg9IjIuNTkyIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0xLjE4NCAxMi4zNjVMMTIuODQ4IDFNMTIuODQ4IDEyLjM2NUwxLjE4NCAxIi8+PC9nPjwvc3ZnPg==);
}

.TableCheckbox input:checked + span {
	background-color: var(--wp-admin-theme-color);
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEuMTU3IDguMzU5bDUuMTg0IDUuMTg0TDE4LjAwNSAxLjIzIiBzdHJva2U9IiNGRkYiIHN0cm9rZS13aWR0aD0iMi41OTIiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
}

.TableBody > div {
	display: flex;
	flex-flow: row wrap;
}

.TableBody > div > div {
	flex: 1 1 auto;
}