.single-preview,
.gallery-preview {
		display: flex;
		flex-flow: row wrap;
		width: calc(100% + 16px);
		margin-left: -16px;
	}

.single-preview  > div,
.gallery-preview > div {
	width: 120px;
	flex: 0 1 auto;

	margin-bottom: 16px;
	margin-top: 16px;
	/* padding-left: 16px; */
	margin-left: 16px;

	display: flex;
	align-items: center;

}

.single-preview  > div {
	width: 240px;
}
.gallery-preview > div {
	width: 120px;
}

.gallery-preview > div::after {
	content:"";
	display: block;
	padding-bottom: 100%;
}

.gallery-preview > div img {
	position: absolute;
	left: 0;
	top: 0;

	width: 100%;
	height: 100%;

	object-fit: cover;
	object-position: 50% 50%;
	-o-object-fit: cover;
	-o-object-position: 50% 50%;
	
}

.single-preview  > div,
.gallery-preview > div {
	position: relative;
	z-index: 1;
}

.single-preview  > div > .remove,
.gallery-preview > div > .remove {
	cursor: pointer;

	position: absolute;
	z-index: 1;

	top: -4px;
	right: -6px;

	color: #fff;
	background: #000;
	border-radius: 50%;

	padding: 4px 6px;
	font-size: 12px;
	line-height: 12px;
}

.single-preview img,
.gallery-preview img {
	max-width: 100%;
}

/**
 * SQLOrderedMeta
 */
.SQLOrderedMeta select {
	margin-bottom: 8px;
}