$btnHeight: 40px;

.Btn {
  font-size: 16px;
  line-height: $btnHeight;
  height: $btnHeight;

  display: inline-block;
  position: relative;

  color: #000;
  border-radius: 2px;
  border: 1px solid #000;

  padding: 0 20px;

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

.Input {
  height: $btnHeight;
  line-height: $btnHeight;

  display: block;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 2px;

  padding: 0 16px;
  width: 100%;
}