body,p,.p0 {
  font-size: 16px;
  line-height: 20px;

  font-family: Roboto, Helvetica;
  font-weight: 300;
}

.t1,h1 {
  font-size: 56px;
  line-height: 52px;
}

.t2,h2{
  font-size: 40px;
  line-height: 48px;
}

.t3,h3, .t4, h4{
  font-size: 24px;
  line-height: 32px;
}